@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/typography";
@import "base/utilities";


@import "components/div-line";
@import "components/navbar";
@import "components/buttons";
@import "components/divider";
@import "components/card"; 
@import "components/_footer";


@import "pages/home";
@import "layouts/responsive";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    line-height: 1.7;
    font-size: 1.8rem;   
    color: $color-base-font-white;
    position: relative;
    background-color: $color-bg-primary;
    overflow-x: hidden;
}

