.footer__container{
    @include flexbox(space-between,start);
    @include max-width($margin: 10rem auto);
}

.logo-container{
    @include flexbox(space-between,center,1rem);
}

.contact{
    @include flexbox(start, center, 2rem);
}

.footer__midle{
    li{
        line-height: 250%;
        list-style-image: url('../img/arrow-right.svg');
        display: flex;
        align-items: center;
        
        &:before{
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 1rem;
            background-image: url(../img/arrow.svg);
        }

        
    }
}

.footer__copyright{
    @include flexbox(space-between,center);
    @include max-width($margin: 4rem auto);
}