.u-margin-end-s{
    margin-bottom: 1rem;
}

.u-margin-end-m{
    margin-bottom: 2rem;
}

.u-margin-end-l{
    margin-bottom: 3rem;
}

.u-margin-end-xl{
    margin-bottom: 5rem;
}

.u-margin-end-xxl{
    margin-bottom: 10rem;
}

.u-margin-end-xxxl{
    margin-bottom: 100rem;
}


.flex{
    display: flex;
}